<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="tests/bootstrap.php"
         failOnWarning="false"
         failOnRisky="false"
>
    <php>
        <ini name="display_errors" value="1" />
        <ini name="error_reporting" value="-1" />
        <server name="APP_ENV" value="test" force="true" />
        <server name="SHELL_VERBOSITY" value="-1" />
        <server name="SYMFONY_PHPUNIT_REMOVE" value="" />
        <server name="SYMFONY_PHPUNIT_VERSION" value="10.0" />

        <!-- ###+ symfony/framework-bundle ### -->
        <env name="APP_ENV" value="test"/>
        <env name="APP_SECRET" value="f798aeb438b1e64f21ec145120410ed8"/>
        <!-- ###- symfony/framework-bundle ### -->

        <!-- ###+ symfony/routing ### -->
        <!-- Configure how to generate URLs in non-HTTP contexts, such as CLI commands. -->
        <!-- See https://symfony.com/doc/current/routing.html#generating-urls-in-commands -->
        <env name="DEFAULT_URI" value="http://localhost"/>
        <!-- ###- symfony/routing ### -->

        <!-- ###+ doctrine/doctrine-bundle ### -->
        <!-- Format described at https://www.doctrine-project.org/projects/doctrine-dbal/en/latest/reference/configuration.html#connecting-using-a-url -->
        <!-- IMPORTANT: You MUST configure your server version, either here or in config/packages/doctrine.yaml -->
        <!--  -->
        <!-- Using SQLite for tests to avoid external database dependencies -->
        <env name="DATABASE_URL" value="sqlite:///:memory:"/>
        <!-- ###- doctrine/doctrine-bundle ### -->
    </php>

    <testsuites>
        <testsuite name="Integration Tests">
            <directory>tests/Integration</directory>
        </testsuite>
        <testsuite name="Benchmark Tests">
            <directory>tests/Benchmark</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </source>

    <extensions>
        <bootstrap class="Symfony\Bridge\PhpUnit\SymfonyExtension">
            <parameter name="clock-mock-namespaces" value="App" />
            <parameter name="dns-mock-namespaces" value="App" />
        </bootstrap>
    </extensions>
</phpunit>
